@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 219, 225);
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 700px;
    margin: 0 auto;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
}
.navbar img{
    padding: 10px 0px 10px 0px;
    width: 180px;
}

.navbar{
    background-color: rgb(211, 9, 9);
    box-shadow: 3px 2px 2px 0px rgb(161, 22, 22);
}
.text p{
    font-weight: 461;
    font-size: 15px;
    color: rgba(19, 18, 18, 0.719);
}
.text h1{
    font-weight: 401;
    color: rgb(185, 8, 8);
    margin-bottom: 20px;
}
.img-friends li{
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;

}

.img-profile img{
    display: block;
    width: 162.6px;
    border: solid rgb(227, 171, 180);

    padding: 2px;
    margin-left: 14px;
}
span{
    color: rgb(161, 22, 22);
    font-weight:6200;
}
.profile-about{
    display: flex;
    gap: 30px;
}
.profile{
    padding: 20px 0px 50px 0px;
    border-color: rgb(227, 171, 180);
    background-color: white;
    border-style: none solid solid solid;
    border-width: 2px;
    margin-top: 2px;

}
a:hover{
    color: rgb(161, 22, 22);
}
.card-profile{
    margin-bottom: 10px;
}
.text{
    position: relative;
}
.img-friends img{
    width: 70px;
}
.img-friends img:hover{
    border: solid rgb(161, 22, 22) 1px;
    cursor: pointer;
}
.friends-list img{
    width: 50px;
}
.friends-list ul{
    list-style-type: none;

}
.friends-list li{
    font-size: 13px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.201);
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 150%;
}
.friends-list span{
    padding-left: 4px;
    font-weight: 400;
}

.meio{
    display: flex;
    gap: 80px;
    margin-top: 20px;
}
.card-profile{
    border: solid rgb(239, 199, 206);
    background-color: rgba(252, 252, 252, 0.837);
    padding: 4px;
}
.card-profile li{
    display: inline-flex;

}
.center{
    width: 100%;
    height: auto;
}
.b{
    font-weight: 300;
    color: black;
}
.friends-list p{
    color: rgb(161, 22, 22);
    font-size: 14px;
    font-weight: 450;
}
h3{
    font-weight: 500;
}
.black{
    color: black;
    font-weight: 400;
}
.back-t{
    padding: 0px 0px 15px;
}